@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,400;1,300&display=swap'); 

body {
    color: rgb(68, 67, 67);
    background: rgb(228, 227, 227);
    margin: 0;
    padding: 0;
    overflow: auto;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.3em 3em;
    background: white;
  }
  
  nav {
    background-color: white;
    height: 0px;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    color: aliceblue;
  }